.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-out .7s;
    height: 100vh;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    opacity: 0;
  }
  
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }
  
  .slide1 {
    background: url("../images/images/Perspective_Exterieur.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .slide2 {
    background: url("../images/images/Office_08-07-19.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .slide3 {
    background: url("../images/images/Artboard\ 1@2x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .slide4 {
    background: url("../images/images/Pers\ 391_Up.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }