.__backgroundSection {
    background: #E6E6E6;
}

.__h-60 {
    height: 60%;
}

.__h-40 {
    height: 40%;
}

.__gallery1 {
    background: url('../img/carrieres/gallery1@2x.png');
}

.__gallery2 {
    background: url('../img/carrieres/gallery@2x.png');
}

.__gallery3 {
    background: url('../img/carrieres/gallery3@2x.png');
}

.__gallery4 {
    background: url('../img/carrieres/gallery4@2x.png');
}
.__gallery5 {
    background: url('../img/carrieres/gallery5@2x.png');
}
.__gallery6 {
    background: url('../img/carrieres/gallery6@2x.png');
}
.__gallery7 {
    background: url('../img/carrieres/gallery7@2x.png');
}
.__gallery8 {
    background: url('../img/carrieres/gallery8@2x.png');
}
.__gallery9 {
    background: url('../img/carrieres/gallery9@2x.png');
}
.__gallery10 {
    background: url('../img/carrieres/gallery10@2x.png');
}