.__gallery1 {
    background-image: url("../img/contact/Image11.png");
}
.__gallery2 {
    background-image: url("../img/contact/image1.jpg");
}
.__gallery3 {
    background-image: url("../img/contact/image3.jpg");
}
.__gallery4 {
    background-image: url("../img/contact/image4.png");
}
.__gallery5 {
    background-image: url("../img/contact/image5.png");
}
.__gallery6 {
    background-image: url("../img/contact/image6.png");
}
.__gallery7 {
    background-image: url("../img/contact/Jacky\ RABENASOLOHANTA\ 1.jpg");
}
.__gallery8 {
    background-image: url("../img/contact/image8.png");
}
.__gallery9 {
    background-image: url("../img/contact/image9.png");
}
/**....?????.....****/
/* .__gallery10 {
    background-image: url("../img/contact/image9.png");
}
.__gallery11 {
    background-image: url("../img/contact/image9.png");
}
.__gallery12 {
    background-image: url("../img/contact/image9.png");
} */
/**....end ???....**/

.__gallery13 {
    background-image: url("../img/contact/image10.png");
}
.__gallery14{
    background-image: url("../img/contact/image2.jpg");
}
.__gallery15 {
    background-image: url("../img/contact/Image12.png");
}