@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/helvetica/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueLTStd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/helvetica/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/helvetica/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/helvetica/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/helvetica/HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueLTStd-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/helvetica/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/helvetica/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/helvetica/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('../fonts/helvetica/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}



.__HelveticaNeueLTStd {
    font-family: 'Helvetica Neue LT Std';
}
.__helveticNeue {
    font-family: 'Helvetica Neue LT Std';
}
.__HelveticaNeueLTStdExtraBold {
    font-weight: 900;
}

.__HelveticaNeueLTStdBold {
    font-weight: bold;
}
.__HelveticaNeueLTStdNormal {
    font-weight: 500;
}
.__HelveticaNeueLTStdLight {
    font-weight: 300;
}
.__HelveticaNeueLTStdExtraLight {
    font-weight: 100;
}

.btn.btn-transparent-dark-blue, .btn.btn-transparent-dark-gray {background: #334376; border-color: #334376; color: #ffffff}
.btn.btn-transparent-dark-blue:hover {background: transparent; border-color: #334376; color: #334376}

.btn.btn-transparent-dark-orange, .btn.btn-transparent-dark-gray {background: #F07300; border-color: #F07300; color: #ffffff}
.btn.btn-transparent-dark-orange:hover {background: transparent; border-color: #F07300; color: #F07300}

.btn.btn-transparent-light-green, .btn.btn-transparent-dark-gray {background: #97CE68; border-color: #97CE68; color: #ffffff!important}
.btn.btn-transparent-light-green:hover {background: transparent; border-color: #97CE68; color: #97CE68!important}

.__h-100 {
    height: 100vh;
}

.__h-90 {
    height: 90vh;
}

.__h-80 {
    height: 80vh;
}

.__h-70 {
    height: 70vh;
}

.__h-60 {
    height: 60vh;
}

.__h-50 {
    height: 50vh;
}

.__h-40 {
    height: 40vh;
}

.__h-30 {
    height: 30vh;
}

.__h-20 {
    height: 20vh;
}

.__h-25{
    height: 25%;
}

.__h-10 {
    height: 10vh;
}

.__orange {
    color: #F07300 !important;
}

.__white {
    color: white !important;
}
/* Fin déclaration font police Helvetica */


/* Déclarations couleurs ITM */

.__redItm {
    color: rgba(150,0,50,1);
}
.__blueItm {
    color: rgba(38,44,60,1);
}
.__iOwnItm {
    color: rgba(235,131,29,1)
}
.__WeCanItm {
    color: rgba(82,159,211,1);
}
.__weSurpriseItm {
    color: rgba(70,111,140,1);
}
.__iAmItm {
    color: rgba(150,0,50,1);
}
.__iEngageItm {
    color: rgba(237,24,70,1);
}

.__weEnjoyItm {
    color: rgba(177,190,45,1);
}
.__brownItm {
    color: rgba(75,60,50,1);
}
.__orangeItm {
    color: #F07300;
}

.__red {
    color: #960032;
}



.loader svg {
    width: 50%;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background: #fff;
    transition: all .5s;
}

.loader p {
    margin-top: 30px;
}

.loader svg, .loader p {
    width: 42%;
    margin: 0 auto;
    font-family: 'Helvetica Neue LT Std';
}

.loader.hide {
    display: none!important;
    transition: all .5s;
}

header a.logo {
    width: 80px;
}
header a.logo img {
    width: 100%;
    max-height: initial;
}

img.default.logo-dark {
    margin-bottom: -22px;
}

i.fas.fa-search.search-button {
    color: #97CE68;
}

.no-dots {
    list-style: none;
}

.opacity-0 {
    opacity: 0;
}

input.search-input {
    color: #F07300 !important;
}

.mfp-bg.mfp-fade.mfp-ready {
    background: white;
}

button.mfp-close {
    color: #F07300;
}