.__photo {
  
}

.__photo1 {
    background-image: linear-gradient(to left,#f0730000, #d56a28), url('../img/nosmetier/Soctam_B_148@2x.png');
    background-size: cover;
    background-position: right bottom;
}

.__photo2 {
    background: linear-gradient(101deg, #004af04b, #ce0404), url('../img/nosmetier/Sitam_189@2x.png');
    background-size: cover;
    background-position: center;
}
.__photo3 {
    /* background: linear-gradient(26deg, #ed184600, #960032ac), url('../img/nosmetier/Sacimem_258.jpg'); */
    background: linear-gradient(26deg, #2b3d4ed9, #ff5e0078), url(../img/nosmetier/Sacimem_258.jpg);
    background-size: cover;
    background-position: center;
}
.__photo4 {
    background: linear-gradient(102deg, #ffffff00, #0000008b), url('../img/nosmetier/Soctam_40@2x.png');
    background-size: cover;
    background-position: left bottom;
}

.col-md-1, .col-md-9, .col-md-3{
    transition:  none;
    -webkit-transition:  none;
    -moz-transition:  none;
    -ms-transition:  none;
    -o-transition:  none;
}
