.__heightTiers {
    height: 33.3333%;
}

.__height46percent{
    height: 46%;
}
 

.__height54percent{
    height: 54%;
}

.__gallery1 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Soctam_B_197.png");
}

.__gallery2 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Soctam_M_03.png");
}

.__gallery3 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Drone_Mampikony-3.png");
}

.__gallery4 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Drone_Mampikony-39.png");
}

.__gallery5 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Soctam_B_263.png");
}

.__gallery6 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Drone_Bevilany-99.png");
}


/***
* Section start
**/
.__gallery7 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/DSC00668.png");
}

.__gallery8 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Drone_Mampikony-4.png");
}

.__gallery9 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/DSC00654.png");
}

.__gallery10 {
background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/DSC00666.png");
}

.__gallery11 {
    background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Drone_Mampikony-5.png");
}

.__gallery12 {
    background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Drone_Bevilany-97.png");
}

/**
*  Section start
*/
.__gallery13 {
    background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2019/12/Soctam_M_166@2x.jpg");
}
.__gallery14 {
    background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2019/12/Soctam_B_145@2x.jpg");
}
.__gallery15 {
    background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2019/12/Soctam_B_208@2x.jpg");
}
.__gallery16 {
    background: url("https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2019/12/Soctam_M_206@2x.jpg");
}
    

.__w-20 {
    width: 20%;
}

.__w-25 {
    width: 25%;
}