.__border {
    /* border: 5px solid white; */
}
.__photo1 {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.5102415966386555) 0%, rgba(0,0,0,0.3477766106442577) 100%),  url('../../img/acceuil/rse.png');
    background-size: cover;
    background-position: right bottom;
}

.__photo2 {
    background: linear-gradient(90deg, rgba(0,0,0,0.5102415966386555) 0%, rgba(0,0,0,0.3477766106442577) 100%), url('../../img/acceuil/carriere.png');
    background-size: cover;
    background-position: center;
}
.__photo3 {
    background: linear-gradient(90deg, rgba(0,0,0,0.5102415966386555) 0%, rgba(0,0,0,0.3477766106442577) 100%), url('../../img/acceuil/propos.png');
    background-size: cover;
    background-position: center;
}
.__photo4 {
    background: linear-gradient(90deg, rgba(0,0,0,0.5102415966386555) 0%, rgba(0,0,0,0.3477766106442577) 100%), url('../../img/acceuil/imperial\ brands.png');
    background-size: cover;
    background-position: left bottom;
}

.__orangeHovered {
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
}

.__orangeHovered:hover {
    background-color: #ff7a0082;
}
#wecan {
    background-image: url('../../img/home/home1.png'); 
    background-repeat: no-repeat;
    background-size: 100vw;
}
#iam {
    background-image: url('../../img/home/2.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
}
#weenjoy {
    background-image: url('../../img/home/3.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    background-color: #b1be2d;
}
#iown {
    background-image: url('../../img/home/6.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    background-color: #eb831d;
}

#iengage {
    background-image:url('../../img/home/4.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    background-color: #fff;
}

#wesurprise {
    background-image:url('../../img/home/5.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    background-color: #466f8c;
}


.mobile-height {
    max-height: auto;
}

._desktop {
    display: block;
}
._mobile {
    display: none;
}


@media (max-width: 1100px) {

    ._desktop {
        display: none;
    }
    ._mobile {
        display: block;
        margin: 0 auto;
    }

}

@media (max-width: 1024px) {
    .__marginTop25 {
        margin-top: 50%;
    }
    .__bgBlue {
        background: rgba(82,159,211,1);
    }
    .__bgIAm {
        background : rgba(150,0,50,1);
    }
    .__bgWeEnjoy {
        background: #b1be2d;
    }
    .__iOnw {
        background: #eb831d;
    }
    .__iEngage {
        background: #ed1846;
    }
    ._weSurprise {
        background: #466f8c;
    }
    .__whiteMobile {
        color:#fff !important;
    }
    #wecan {
        background-image: url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/01/ID1@2x.jpg);
        background-size: contain;
        background-position-y: -12% !important;
        background-size: 108%;
        background-position-x: 60%;
        background-color: rgba(82,159,211,1);;
    }       
    #iam {
        background-image:url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/01/Drone_Bevilany__17_.jpg); 
        background-position-y: 4% !important;
        background-size: 135%;
        background-position-x: 60%;
        background-position-x: 71%!important;
    }
    #weenjoy {
        background-image:url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/01/Soctam_B_112.jpg); 
        background-size: contain;
        background-position-y: 4% !important;
        background-size: 108%;
        background-position-x: 60%;
    }
    #iown {
        background-image:url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/01/Soctam_68.jpg); 
        background-size: contain;
        background-position-y: 4% !important;
        background-size: 108%;
        background-position-x: 60%;
    }

    #iengage {
        background-image:url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/01/Sacimem_235.jpg); 
        background-size: contain;
        background-position-y: 4% !important;
        background-size: 108%;
        background-position-x: 60%;
    }

    #wesurprise {
        background-image:url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/01/Soctam_B_103.jpg); 
        background-size: contain;
        background-position-y: 4% !important;
        background-size: 137%;
        background-position-x: 60%;
    }
}


@media (max-width: 767px) {

    .mobile-height .full-screen, .swiper-full-screen .full-screen {
        height: 100vh !important;
        min-height: 480px !important;
    }
}

.button-prev, .button-next {
    transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

.button-prev:hover, .button-next:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}

.pieddp {
    margin: 0 auto;
    position: relative;
    max-height: 140px;
    border: 0;
    z-index: 50;
    width: 100%;
    max-width: 1920px;
    margin-top: 0px;
    min-width: 1920px;
}

.piedp-content.piedp-3 {
    width: 390px;
    float: left;
    transition: all .3s ease-out;
}

.piedp-content {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 185px;
    top: -50px;
}

.rse img, .carriere img, .a-propos, .soctam_M {
    width: 109% !important;
}

.soctam_M {
    position: absolute;
    height: 140px;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    transition: all .3s ease-out;
}

.soctam_M img {
    position: static;
    top: -49px;
    left: -122px;
}

.soctam_M>p {
    position: absolute;
    top: 30px;
    left: 21px;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.piedp-content p.hide {
    opacity: 0;
    transition: all .3s ease-out;
    top: 100px;
    font-size: 24px;
    line-height: 26px;
}

.soctam_M>p {
    position: absolute;
    top: 30px;
    left: 21px;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.piedp-content p.hide a {
    color: #fff !important;
}

.soctam_M svg {
    position: absolute;
    right: -63px;
    top: 11px;
}

.carriere:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 8px;
    background: #fff;
    z-index: 60;
}

.carriere:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 8px;
    background: #fff;
    right: 0px;
    z-index: 60;
    top: 0;
    width: 42px;
}
.a-propos img {
    left: -214px;
    transform: scale(.7);
    top: -116px;
}

.soctam_M p a {
    color: #fff !important;
}

.piedp-content.piedp-4 {
    width: 748px;
    height: 140px;
    top: -5px;
}

.piedp-content.piedp-4:hover .brands {
    height: 140px;
    transition: all .6s ease-out;
}

.brands {
    background: #fff;
    text-align: center;
}

.brands:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 8px;
    background: #F07300;
    z-index: 60;
    left: 0;
}

.brands p.hide {
    left: 0;
    opacity: 1;
    top: 160px !important;
    transition: all 0s ease-out;
}

.brands img {
    position: relative;
    top: 0px;
    left: -50px;
}

.piedp-content.piedp-4 .brands p a {
    margin: auto 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: all .6s ease-out;
    margin-top: 25px;
    padding-right: 90px;
}

.piedp-content.piedp-3:hover .soctam_M {
    height: 100%;
    transition: all .3s ease-out;
}

.piedp-content.piedp-3:hover .soctam_M .hide {
    opacity: 1;
    transition: all .3s ease-out;
}


.piedp-content.piedp-4:hover .brands p.hide {
    top: 0 !important;
    width: 83%;
    text-align: center;
    height: 100%;
    background: #F07300;
    padding-top: 5%;
    transition: all .3s ease-out;
    display: block;
}

@media (min-width: 1701px) {

    .brands img {
        width: 33%;
        top: 23px;
        left: -12%;
    }
}

@media (min-width: 1650px) {

    .rse img {
        width: 125%;
        left: 0 !important;
        top: 0px !important;
        transform: scale(1.5);
        position: absolute !important;
    }

    .carriere img {
        top: -15px !important;
        transform: scale(1.2) !important;
        left: 25px !important;
        width: 81% !important;
        position: relative !important;
    }

    .a-propos img {
        left: -27px !important;
        transform: scale(1) !important;
        top: 0px !important;
        width: 100%;
        position: absolute !important;
    }

    
}

@media (min-width: 1450px) {

    .brands img {
        width: 30%;
        top: 29px;
    }

}
@media (min-width: 1440px) {

    .piedp-content.piedp-4:hover .brands p.hide {
        width: 100%;
    }
}

@media (max-width: 1700px) and (min-width: 1400px) {

    .piedp-content p.hide {
        top: 97px;
    }
    .piedp-content.piedp-3 {
        width: 307px;
    } 
    .rse img {
        position: absolute;
        width: 159% !important;
        left: 0;
        top: 0px;
    }
    .piedp-content.piedp-4 {
        width: 44%;
    }
    .brands img {
        left: -29px;
        top: 7px;
        transform: scale(.5);
        -webkit-transform: scale(.5);
        width: 60%;
    }
    .piedp-content p.hide {
        font-size: 21px;
        line-height: 24px;
    }
    .carriere img {
        left: -14px;
        top: 0px;
        position: absolute;
        width: 108% !important;
        transform: scale(1.5);
    }
    .a-propos img {
        left: -60px;
        transform: scale(1.4);
        top: 21px;
        position: absolute;
    }
    .carriere:after {
        width: 34px;
    }
    .soctam_M>p {
        font-size: 18px;
    }
}

@media (max-width: 1700px) and (min-width: 1450px) {

    .brands img {
        width: 33%;
        top: 23px;
        left: -12%;
    }
}

@media (max-width: 1312px) and (min-width: 1101px) {

    .piedp-content.piedp-4 {
        width: 594px;
    }
    
}
@media (max-width: 1400px) {

    .carriere:after  {
        width: 34px;
    }
    .piedp-content.piedp-3 {
        width: 286px;
    }
    .piedp-content.piedp-3 {
        width: 286px;
    }
    .carriere img {
        width: 129% !important;
        left: -30px;
    }
    .soctam_M img {
        top: 0;
        position: absolute;
        left: 0;
    }
    .a-propos img {
        left: -66px;
        top: 0;
        transform: scale(1.5);
    }
    .brands img {
        left: 6%;
        top: 36px;
        width: 30%;
    }

}
@media (max-width: 1250px) and (min-width: 1200px) {

    .brands img {
        left: 11%;
        right: inherit;
    }
}
@media (max-width: 1100px) {

    .piedp-content.piedp-4 {
        width: 50%;
        height: 280px !important;
        /* padding: 16px; */
        /* margin: -3px; */
        border: 16px solid #fff;
        top: 0;
    }

    .pieddp {
        display: block;
        min-width: inherit;
        max-height: inherit;
    }
    
    .piedp-content.piedp-3 {
        float: LEFT;
        transition: all .3s ease-out;
        width: 50%;
        margin: 0 auto;
        top: 0;
        height: 280px !important;
        /* padding: 16px; */
        /* margin: -3px; */
        border: 0px solid #fff;
    }
    
    .soctam_M {
        height: 266px !important;
    }
    
    .piedp-content p.hide {
        display: none;
        opacity: 1;
    }
    .piedp-content.piedp-4:hover .brands p.hide {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }        
    .piedp-content.piedp-4 .brands p a {
        margin: auto 0;
        padding-top : initial;
    }

    .piedp-content.piedp-4 {
        width: 50%;
        height: 280px !important;
        /* padding: 16px; */
        /* margin: -3px; */
        border: 0px solid #fff;
        top: 0;
    }
    .rse img {
        width: 148% !important;
        top: 0;
        position: absolute;
        left: 0;
        transform: scale(1.5);
    }
    .soctam_M>p {
        font-size: 21px;
        line-height: 25px;
        position: absolute;
        width: 50%;
        text-align: center;
        left: 20%;
        top: 50%;
    }
    .carriere img {
        left: -56px;
        top: 0;
        position: absolute;
        width: 140% !important;
        transform: scale(1.5);
    }
    .a-propos img {
        left: -99px;
        width: inherit;
        top: inherit;
        transform: scale(1.5);
    }
    .brands img {
        left: 16%;
        width: 69%;
        position: absolute;
        right: 0;
        top: 29%;
    }
}

@media (max-width: 850px) {

    .piedp-content.piedp-4:hover .brands p.hide {
        width: 100%;
    }

}


@media (max-width: 750px) and (min-width: 531px) {

    .carriere img {
        top: 0;
        transform: scale(1.5);
    }

    .a-propos img {
        left: -247px;
        width: 161%;
        top: -4px;
        transform: scale(1.5);
    }
    .rse img {
        width: 148% !important;
        top: 0;
        position: absolute;
        left: 0;
    }

}


@media (max-width: 800px) {

    .rse img {
        width: 192% !important;
        transform: scale(1.9);
    }

    .carriere img {
        width: 160% !important;
        transform: scale(1.9);
    }
    .a-propos img {
        left: -119px;
        width: 161%;
        top: 47px;
    }
    .piedp-content.piedp-4 .brands p a {
        padding-right: 0;
    }
}

@media (max-width: 600px) {

    .orange, .brands p.hide {
        display: none;
    }

    .piedp-content.piedp-3 {
        width: 50%;
        margin: 0 auto;
        top: 0;
        height: 155px !important;
    } 
    .piedp-content.piedp-4 {
        height: 155px !important;
    }
    .soctam_M {
        height: 266px !important;
        position: absolute;
    }
    .soctam_M>p {
        line-height: 25px;
        position: absolute;
        width: 56%;
        text-align: left;
        left: 9%;
        top: 59%;
    }

    .piedp-content p.hide {
        display: block;
        opacity: 1;
        top: inherit;
        font-size: 17px;
        line-height: 12px;
        bottom: 9px;
        text-align: left;
        width: 155px;
        left: 21px;
    }
    .brands img {
        left: 16%;
        width: 69%;
        position: absolute;
        right: 0;
        top: 64%;
    }
    .a-propos img {
        left: 0;
        width: 161%;
        transform: scale(1.5);
        top: 104px;    
    }
    .carriere img {
        width: 145% !important;
        transform: scale(1.5);
        left: -30px;
        top: 113px;
    }
    .rse img {
        top: 110px;
        position: absolute;
        left: 0;
        width: 153% !important;
        transform: scale(1.5);
    }
    .carriere img {
        width: 145% !important;
        transform: scale(1);
        left: -30px;
        top: 113px;
    }
    .carriere:before,.carriere:after,.soctam_M svg, .brands:before, .brands:after {
        display: none;
    }
    .piedp-content p.hide a {
        font-size: 17px;
        line-height: 18px;
    }
    .piedp-content.piedp-4:hover .brands p.hide,.piedp-content.piedp-4 .brands p.hide {
        opacity: 0;
    }
}
